h1.banner {
   color: rgba(160, 85, 85, 0.9);
   font-size: 300%;
   font-family: "cambria", "baskerville", "calibri", serif;
   font-variant: small-caps;
   letter-spacing: 4px;
   margin-top: 0px;
   margin-bottom: 5px;
}
h5.banner {
  color: rgb(90, 30, 30);
  font-size: 1.50em;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: 0.5px;
  font-family: "cambria", "baskerville", "calibri";
  margin-bottom: 7px;
  margin-top: -32px;
}
hr.banner {
   margin-top: 1px;
   margin-bottom: 5px;
   width: 48%;
   opacity: 0.7;
}
img.sc {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin-right: 10px;
  margin-top: -5px;
}
img.sc:hover {
-webkit-box-shadow: 0px 0px 15px 5px rgb(255,89,0);
-moz-box-shadow: 0px 0px 15px 5px rgb(255,89,0);
box-shadow: 0px 0px 15px 5px rgb(255,89,0);
}
img.abrsm {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin-right: 10px;
  margin-top: -5px;
}
img.abrsm:hover {
-webkit-box-shadow: 0px 0px 15px 5px rgb(238,50,38);
-moz-box-shadow: 0px 0px 15px 5px rgb(238,50,38);
box-shadow: 0px 0px 15px 5px rgb(238,50,38);
}
img.googleplus {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin-right: 10px;
  margin-top: -5px;
}
img.googleplus:hover {
-webkit-box-shadow: 0px 0px 15px 5px rgb(201,49,28);
-moz-box-shadow: 0px 0px 15px 5px rgb(201,49,28);
box-shadow: 0px 0px 15px 5px rgb(201,49,28);
}