#playlist {
   background: rgba(120, 60, 60, 0.85);
   width: 98.4%;
   margin: 0px;
   padding: 10px;
   padding-bottom: 0.1px;
   transition: 0.4s ease-out;
}
#playlist:hover {
   background: rgba(120, 60, 60, 1.0);
}
audio {
   background: rgba(120, 60, 60, 0.0);
   width: 100%;
   margin: 0px;
   padding: 0px;
}
body {
    background-color: linen;    
    background-image: url("imgs/sheets2.jpg");
    background-size: cover;
    background-repeat: repeat;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin: 0px 0px 0px 0px;
}
header {
    Background: #FFG;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
h1 {
   color: rgba(120, 60, 60, 0.9);
   font-size: 590%;
   font-family: "Edwardian Script ITC","cambria", "baskerville", "calibri", serif;
   letter-spacing: 3px;
   margin-bottom: 20px;
   margin-top: 10px;
   text-shadow: 0 0 0.1em white, 0 0 0.3em white;
}
h5 {
  color: rgb(90, 30, 30);
  font-size: 1.50em;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: 0.5px;
  font-family: "cambria", "baskerville", "calibri";
  margin-bottom: 10px;
  margin-top: -5px;
}
table {
   background: rgba(120, 60, 60, 1.0);
   height: 400px;
   width: 80%;
}
td.one {
   background-image: url("imgs/piano.jpg");
   opacity: 1;
   filter: alpha(opacity=100);
   background-size: cover;
   background-repeat: no-repeat;
   transition: 0.2s ease-out;
}
td.one:hover {
   background-image: url("imgs/piano fade.jpg");
   opacity: 1;
   transition: 0.2s ease-out;
}
td.two {
   background-image: url("imgs/piano 2.jpg");
   opacity: 1;
   filter: alpha(opacity=100);
   background-size: cover;
   background-repeat: no-repeat;
   transition: 0.2s ease-out;
}
td.two:hover {
   background-image: url("imgs/piano fade 2.jpg");
   opacity: 1;
   transition: 0.2s ease-out;
}
td.three {
   background-image: url("imgs/piano 3.jpg");
   opacity: 1;
   filter: alpha(opacity=100);
   background-size: cover;
   background-repeat: no-repeat;
   transition: 0.2s ease-out;
}
td.three:hover {
   background-image: url("imgs/piano fade 3.jpg");
   opacity: 1;
   transition: 0.2s ease-out;
}
td.four {
   background-image: url("imgs/piano 4.jpg");
   opacity: 1;
   filter: alpha(opacity=100);
   background-size: cover;
   background-repeat: no-repeat;
   transition: 0.2s ease-out;
}
td.four:hover {
   background-image: url("imgs/piano fade 4.jpg");
   opacity: 1;
   transition: 0.2s ease-out;
}
p {
   color: #FFD;
   text-decoration: none;
   font-family: "Century Gothic", "Sitka Display", "Calibri";
   font-size: 1.0em;
   font-variant: small-caps;
   letter-spacing: 4px;
   margin-top: 1px;
   margin-bottom: 8px;
}
h3 {
   Font-family: "Century Gothic", "Calibri";
   color: white;
   text-decoration: none;
   font-size: 1.2em;
   letter-spacing: 2px;
   font-weight: normal;
}
hr {
   color: white;
   margin-top: 1px;
   margin-bottom: 15px;
}
a {
   color: white;
   text-decoration: none;
   font-size: 1.40em;
   letter-spacing: 5px;
}
a:visited {
   color: white;
   text-decoration: none;
}
a:hover {
   color: white;
   text-decoration: none;
}
a:active {
   color: white;
   text-decoration: none;
}
a.track {
   color: white;
   text-decoration: none;
   font-size: 1.0em;
   font-variant: small-caps;
   font-family: "Century Gothic","Calibri";
   letter-spacing: 5px;
}
a.track:visited {
   color: white;
   text-decoration: none;
}
a.track:hover {
   color: white;
   text-decoration: none;
}
a.track:active {
   color: white;
   text-decoration: none;
}
#subhead {
   color: linen;
   text-decoration: none;
   font-size: 0.80em;
   letter-spacing: 3px;
   margin-bottom: 1px;
}
li.a {
   color: white;
   text-decoration: none;
   font-size: 1.0em;
   font-variant: small-caps;
   letter-spacing: 5px;
}
 .row {
 vertical-align: top; 
 height:auto !important; 
}
 .list {
   display:none; 
}
 .show {
   display:none;
}
 .hide:target + .show {
   display: inline;
}
 .hide:target {
   display: none; 
}
 .hide:target ~ .list {
   display:inline; 
}
 @media print {
 .hide, .show {
   display: none; 
} 
}
#box {
 position: absolute;
 bottom: 0;
 width: 100%;
 padding: 0px;
}